# Telegram
BOT_TOKEN=
CHAT_ID=
ADMIN_ID=

# MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# External/secondary MySQL (balance source)
EXT_DB_SERVER_IP=
EXT_MYSQL_HOST=
EXT_MYSQL_PORT=
EXT_MYSQL_DATABASE=
EXT_MYSQL_USER=
EXT_MYSQL_PASSWORD=
